.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  background: linear-gradient(#a2d2ff, #EFB0C9);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
  margin-bottom: 10px;
}

#bday-age {
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-cheers {
  height: 200px;
}

.gift-img1, .gift-img2, .gift-img3, .gift-img4, .gift-img5 {
  margin: 20px auto;
  max-width: 400px;
  height: 600px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("../src/Image/20211013_090043.jpg");
  background-size: cover;
  
}

.gift-img2{
  background-image: url(../src/Image/family-COLLAGE.jpg);
}

.gift-img3{
  background-image: url(../src/Image/PoulamiKalyani.jpg);
}

.gift-img4{
  background-image: url(../src/Image/FriendsAsansol.jpg);
}

.gift-img5{
  background-image: url(../src/Image/Birthday2020.jpg);
}


#gift-img-happy:hover {
  background-image: url("../src/Image/Poulami-Bishnupur-ANIMATION.gif");
  
}

#gift-img-hot:hover {
  background-image: url("../src/Image/family-ANIMATION.gif");
  
}

#gift-img-genius:hover {
  background-image: url("../src/Image/PoulamiKalyaniANIMATION.gif");
  background-size: cover;
}

#gift-img-badass:hover {
  background-image: url("../src/Image/FriendsAsansol_ANIMATION.gif");
}

#gift-img-cheers:hover {
  /* background-image: url("../src/images/cheers.gif"); */
}

#footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
}

a {
  color: white;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}